*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background: black;
}
.data{
    background-color: rgba(18,52,86,.5);
    margin: 0 auto;
    border-radius: 10px;
    width: 90%;
    height: 80vh;
    margin-top: 10px;
    color: white;
}
h1, p, h4{
    padding-left: 20px;
}
img{
    width: 30%;
}
p, h4{
    padding-top: 20px;
}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    align-items: center;
    background-color: rgba(0, 255, 255,.5);
}
.nav ul {
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.nav ul li a:hover{
    color: black;
}

